.status-error{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(0, 128, 0, 0.438);
    top:68px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
}

.close-icon{
    position: absolute;
    top: 28px;
    right: 28px;
 
}

.close-icon:hover{
    color: red;
    border: 1px solid blue;
}

.success-message{
    width: 100%;
    height: 100%;
    position: absolute;
    background: rgba(176, 179, 176, 0.438);
    top:68px;
    right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 101;
    color: green;

}

.stories-adding{
    padding: 20px 0px;
    background: white;
    margin: 10px;
    border-radius: 8px;
}

.seo-section{
    padding: 20px 18px;
    background: white;
    margin: 10px;
    border-radius: 8px;
}

