.header-section{
    height: 70px;
    background-color: white;
    width: 100%;
    padding: 12px 30px;
    /* position: fixed; */
    position:sticky;
    top:0px;

}
.sidebar-toggle{
    border: none;
    background-color: transparent;
    font-size: 30px;
}

.user-button{
border: none;
border-radius: 50%;
width: 40px;
height: 40px;
display: flex;
align-items: center;
justify-content: center;

}
.brithness-icon{
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.brithness-icon:hover {
    transform: rotateZ(360deg);
    transition: all 1s ease-out;
}


.dark-icon{
    transform: rotateZ(135deg);
}

.icon-search{
    position: absolute;
    top:10px;
    left: 14px;

}
.navbar-search{
    position: relative;


}


.header-search{
    padding-left: 39px;
    background-color: #f5f6fa;
    width: 24rem;
}


.dropdown-menu.show{
    width: 312px;
    border: 0;
    border-radius: 16px;
    box-shadow: 0px 13px 30px 10px rgba(46, 45, 116, 0.05);
    padding: 16px;
    background-color: white;
}

.close-icon-profile{
    border: none;
    background-color: transparent;
}

.close-icon-profile:hover{
    color: red;

}
.admin-row1{
   background-color: #e4f1ff;
   padding: 12px 15px;
   border-radius: 9px;
   margin-bottom:22px ;
}

.user-setting-logout1,.user-setting-logout2{
    text-decoration: none;
    color: black;
}
.user-setting-logout1:hover{ 
    color: blue;

}

.user-setting-logout2:hover{ 
    color: red;

}


@media (max-width: 992px){
    .navbar-search {
        display: none !important;
    }
}